.Nav {
  padding: 12px;
  background-color: black;
  color: white;
  display: flex;
  gap: 12px;
  font-weight: bold;
}

.Nav-link {
  color: unset;
}

.App {
  text-align: center;
  padding-top: 24px;
}

.Count-too-high {
  color: orange;
}
